body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90EE90;
    padding: 10px 20px;
}
.user-profile{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.user-profile img {
    height: 40px;
    border-radius: 50%;
}
.logo img {
    height: 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.user-profile img {
    height: 40px;
    border-radius: 50%;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    color: #333;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #90EE90;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #76c776;
}

.user-info {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.user-info p {
    font-size: 16px;
    color: #333;
}

.user-actions {
    margin-top: 20px;
}

.user-actions .btn {
    margin: 5px;
}
.user-data {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.data-container {
    text-align: left;
}

.data-field {
    margin-bottom: 15px;
}

.data-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Color del texto de la etiqueta */
}

.data-field .data-value {
    padding: 10px;
    background-color: #f9f9f9; /* Fondo gris claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 5px;
    font-size: 16px;
    color: #555; /* Color del texto del valor */
}
