html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3; /* Gris claro */
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90EE90;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.user-profile {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-profile img {
    height: 40px;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #529e52;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.footer-content {
    max-width: 800px;
    margin: auto;
}


.links {
    width: 100%; /* Hace que el contenedor ocupe todo el ancho */
    text-align: center; /* Centra el contenido */
    margin
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block; /* Asegura que el enlace se comporte como un bloque alineado */
    font-size: 1.2rem;
    margin-right: 50px; /* Agrega el margen a la derecha */
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px; /* Añadir relleno para evitar que el contenido toque los bordes */
    width: 400px; /* Establecer un ancho fijo */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px); /* Ajusta el ancho teniendo en cuenta el padding */
    max-width: 360px; /* Para que no crezcan más que el contenedor */

}

.btn {
    background-color: #90EE90;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    width: 100%; /* Para que el botón no se salga */
    max-width: 360px;
}

.btn:hover {
    background-color: #76c776;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.btn-login {
    margin-top: 10px;
    background-color: #90EE90; /* Un verde más oscuro para diferenciar */
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}


.btn-login:hover {
    background-color: #76c776; /* Efecto hover */


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: red;
}
