<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - NutriCelia</title>
    <link rel="stylesheet" href="HomePage.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="../../../res/NutriCelia.png">
    </div>
    <nav>
        <a href="HomePage.html">Inicio</a>
        <a href="#">Productos</a>
        <a href="ShoppingListPage.html">Mis Listas</a>
        <a href="ReceipeListPage.html">Recetas</a>
        <a href="ForumPage.html">Foros</a>
    </nav>
    <div class="user-profile">
        <img class="menu" src="../../../res/menu-icon.png">
        <a href="UserScreens/UserDataPage.html">
            <button class="user-profile"><img src="../../../res/icon-user.png"></button>
        </a>
    </div>
</header>
<h1>Bienvenido a NutriCelia</h1>
<main>
    <div class="sections-container">
        <section class="shopping-lists">
            <h2>Mis Listas de Compra</h2>
            <div class="shopping">
                <img src="../../../res/shopping-list.png">
            </div>
            <a href="ShoppingListPage.html">
                <button class="btn">Ver mis listas</button>
            </a>

        </section>

        <section class="recipes">
            <h2>Recetas para Celíacos</h2>
            <div class="image-container">
                <img src="../../../res/gluten-free.png">
            </div>
            <a href="ReceipeListPage.html">
                <button class="btn">Ver Recetas</button>
            </a>

        </section>

        <section class="forums">
            <h2>Foros de Discusión</h2>
            <div class="shopping">
                <img src="../../../res/forum.png">
            </div>
            <a href="ForumPage.html"><button class="btn" >
                Consultar foros</button>
            </a>

        </section>
    </div>

    <section class="recommended">
        <h2>Artículos recomendados</h2>
    </section>

</main>
</body>
</html>