<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productSearch</title>
    <link rel="stylesheet" href="/css/productsAtList.css">
    <script src="/js_templates/productSearch.js" defer></script>
    <script src="/js_templates/compareProducts.js" defer></script>

</head>

<body>
<div class="wrapper">
    <header>
        <div class="logo">
            <img src="/images/NutriCelia.png">
        </div>
        <nav>
            <a href="/HomePage.html">Inicio</a>
            <a href="/BuyListScreens/ShoppingListListingPageV2.html">Mis Listas</a>
            <a href="/Recipe/ReceipeListPage.html">Recetas</a>
            <a href="/ForumPage.html">Foros</a>
        </nav>
        <div class="user-profile">
            <img class="menu" src="/images/menu-icon.png">
            <a href="/UserScreens/UserDataPage.html">
                <button class="user-profile"><img src="/images/icon-user.png"></button>
            </a>
        </div>
    </header>
</div>
<br>
<br>
<br>
<div class="lista_productos">
        <table id="productos-table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Supermercado</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody id="productos-body">
                {#if !products.isEmpty()}
                    {#for producto in products}
                        <tr>
                            <td>{producto.nombre}</td>
                            <td>Mercadona</td>
                            <td>
                                <div class="botones">
                                    <form class="formulario-anadir">
                                        <input type="hidden" name="id_lista" value="{idLista}">
                                        <input type="hidden" name="id_producto" value="{producto.id}">
                                        <button type="submit" class="btn">Añadir</button>
                                    </form>
                                    <a href="/product/{producto.id}">
                                        <button class="btn">Ver producto</button>
                                    </a>
                                    <button class="btn" onclick="guardarIdComparar({producto.id})">Comparar</button>
                                </div>
                            </td>
                        </tr>
                    {/for}
                {#else}
                    <tr>
                        <td></td>
                        <td>No se ha encontrado ningún producto</td>
                        <td></td>
                    </tr>
                {/if}
            </tbody>
        </table>
</div>
<br>
<br>
<br>
<footer>
    <div class="footer-content">
        <p>&copy; 2025 NutriCelia. Todos los derechos reservados.</p>
        <p>NutriCelia es un proyecto desarrollado para las asignaturas EI1050 y EI1049.</p>
    </div>
</footer>
</body>
</html>