<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Similares</title>
    <link rel="stylesheet" href="/css/SimilarProductView.css">
</head>

<body>
<header>
    <div class="logo">
        <img src="/images/NutriCelia.png">
    </div>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Mis Listas</a></li>
        </ul>
    </nav>
    <div class="user-profile">
        <img class="menu" src="/images/menu-icon.png">
        <a href="../META-INF/resources/UserScreens/UserDataPage.html">
            <button class="user-profile"><img src="/images/icon-user.png"></button>
        </a>
    </div>
</header>
<div class="container">
    <h2>Producto Inicial</h2>
    <div class="card">
        <img src="https://via.placeholder.com/100" alt="Producto">
        <h3>{product.getNombre()}</h3>
        <p> Calorías: {nutritionalValue.getCalorias()} g | Proteínas: {nutritionalValue.getProteinas()} g</p>
        <button class="button">Ver Detalles</button>
    </div>

    <h2>Productos Similares</h2>
    <div class="similars">
        { {#for nutritionalValue in similarProducts}
            {#if nutritionalValue.product != null}
                <div class="card">
                    <img src="{nutritionalValue.product.urlimagen}" alt="Producto">
                    <h3>{nutritionalValue.product.nombre}</h3>
                    <p>Calorías: {nutritionalValue.calorias} g | Proteínas: {nutritionalValue.proteinas} g</p>
                    <button class="button">Ver Detalles</button>
                </div>
            {/if}
        {/for}
    </div>
</div>
</body>
</html>